.sql_section Button {
  border-radius: 50px;
  padding: 10px 20px;
  margin: 10px 0px;
}

.sql_section {
  background-color: #f3ecea;
  padding: 150px 0px;
}

.sub_main_sql_section {
  display: grid;
  place-items: center;
}
.sub_main_sql_section h1 {
  color: black;
  font-size: 95px;
}
.sub_main_sql_section p {
  color: black;
  font-size: 20px;
}

.sub_main_sql_section2 {
  border-radius: 10px;
  background-color: blanchedalmond;
  height: 100%;
  box-shadow: -45px -45px 90px #000000, 45px 45px 90px #215524;
  transition: 0.5s ease;
}
.sub_main_sql_section2:hover {
  transform: scale(1.1);
}
.inner {
  padding: 10px 0px;
}
